body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

#mystery-case, #user-guess, #result {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

form label {
    display: block;
    margin-top: 10px;
}

form select {
    width: 100%;
    padding: 15px; /* Increase padding for better touch interaction */
    margin-top: 10px;
    font-size: 16px; /* Increase font size for better readability */
}

#start-button {
    display: block;
    margin: 20px auto;
    padding: 30px 70px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
form label {
    display: block;
    margin-top: 10px;
    padding: 15px; /* Increase padding for better touch interaction */
    font-size: 16px; /* Increase font size for better readability */
}

form select {
    width: 100%;
    padding: 20px; /* Increase padding for better touch interaction */
    margin-top: 10px;
    font-size: 18px; /* Increase font size for better readability */
}

form input[type="submit"] {
    padding: 20px; /* Increase padding for better touch interaction */
    font-size: 18px; /* Increase font size for better readability */
}
#user-guess select {
    margin-bottom: 10px;
}
form label {
    display: block;
    margin-top: 10px;
    padding: 20px; /* Increase padding for better touch interaction */
    font-size: 20px; /* Increase font size for better readability */
}

/* Media query for mobile devices */
@media (max-width: 767px) {
    #user-guess select,
    #user-guess input[type="submit"] {
        padding: 20px; /* Increase padding for better touch interaction on smaller screens */
        font-size: 18px; /* Increase font size for better readability on smaller screens */
    }
}